@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap');

$primary-color: #ff9505;
$black-color: #141414;

body {
    background-color: #ffffe8;
    font-family: 'Roboto', 'Open Sans', 'Helvetica';

    margin: 0;
}

.section {
    display: flex;
    justify-content: center;

    div {
        margin: 2%;
    }

    &.product-card-1 {
        background-color: $primary-color;
    }
}

.rmt-breadcrumbs {
    a:link,
    a:visited {
        color: $primary-color;
    }
    a:hover {
        opacity: 0.9;
    }

    a.active {
        color: $black-color;
        font-size: 1.1rem;
        text-decoration: none;
    }
    
}

.rmt-product-card {
    padding: 15px 30px 0 30px;
    background-color: #ffffff;
    text-align: center;
    width: 230px;

    .product-card-header {
        position: relative;
        display: flex;
        justify-content: center;

        &:hover {
            .product-card-image {
                transform: translateY(-10px);
                transition: 0.5s;
            }
            .product-card-shadow {
                transform: scaleX(150%);
                transition: 0.5s;
            }
        }

        .product-card-image {
            z-index: 15;
            height: 150px;
            width: 150px;
            transition: 0.5s;
        }
        .product-card-shadow {
            z-index: 5;
            transition: 0.5s;
            max-height: 150px;
            width: 125px;
            position: absolute;
            transform: translateY(100px);
        }
    }
    
    .product-card-body {
        margin-bottom: 15px;

        .product-card-title {
            text-transform: uppercase;
            margin-bottom: 1em;
        }
        .product-card-desc {
            font-size: 0.8rem;
            color: $black-color;
        }
        .product-card-price {
            font-size: 1.3rem;
            font-weight: 700;
            color: $primary-color;
        }
    }

    .product-card-button {
        width: 100%;
        padding: 15px;
        margin-bottom: 15px;
        
        font-size: 0.7rem;
        text-transform: uppercase;

        border: none;
        color: #ffffff;
        background-color: $primary-color;
        transition: 0.2s;

        &:hover {
            cursor: pointer;
            opacity: 0.9;
            transition: 0.4s;
        }
    }

}