@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap");

$primary-color: #ff9505;
$black-color: #141414;

body {
    background-color: #ffffe8;
    font-family: "Roboto", "Open Sans", "Helvetica";

    margin: 0;
}

.section {
    display: flex;
    justify-content: center;

    & > div {
        margin: 2%;
    }

    &.product-card-1 {
        // background-color: $primary-color;
    }

    &.sidebar {
        justify-content: start;
    }
}
.rmt-products-slider {
    width: 100%;
    padding: 15px;
}
.rmt-promotions-slider {
    // width: 100%;
    // height: 100vh;
}

.divider {
    border-top: 1px solid rgba($black-color, $alpha: 0.3);
}


.rmt-contact-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    h2 {
        font-size: 4rem;
        margin-bottom: 0;
    }

    p {
        width: 80%;
        margin-bottom: 50px;
    }

    form {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 100%;


        input {
            padding: 20px;
            font-size: 1rem;
            border: 2px solid $black-color;
            border-radius: 5px;
            width: 300px;
            margin-bottom: 10px;
            margin-right: 10px;
            transition: 0.3s;

            &:focus{
                border: 2px solid rgba($primary-color, 0.8);
            }
            &:hover {
                border: 2px solid rgba($primary-color, 0.8);
                transition: 0.2s;
            }
        }

        button {
            width: 200px;

            padding: 20px 40px;
            font-size: 1.2rem;
            font-weight: 400;

            border-radius: 5px;
            border: none;

            background-color: $primary-color;
            color: #ffffff;
            transition: 0.3s;

            &:hover {
                opacity: 0.9;
                transition: 0.2s;
                cursor: pointer;
            }
        }
    }
}


.rmt-footer {
    width: 100%;
    padding: 5vh 10%;
    background-color: $black-color;
    color: #ffffff;

    .footer-logo {
        width: 100px;
    }

    .divider {
        border-color: rgba(#ffffff, 0.8);
        margin: 50px 0;
    }

    .footer-info {
        display: flex;

        .footer-buttons {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .footer-stores {
                display: flex;

                img {
                    margin-right: 10px;
                }
            }
        }

        .footer-links {
            width: 100%;
            display: flex;
            flex-wrap: wrap;

            .footer-link-section {
                display: flex;
                flex-direction: column;
                width: 22%;

                margin-left: 11%;
                margin-bottom: 25px;

                .footer-link-title {
                    font-size: 1.1rem;
                    color: rgba(#ffffff, 0.7);
                    margin-bottom: 15px;
                }

                .footer-link {
                    margin-bottom: 5px;
                    color: #ffffff;
                    text-decoration: none;
                    transition: 0.3s;

                    &:hover {
                        opacity: 0.8;
                        transition: 0.2s;
                    }
                }
            }
        }
    }
}

.rmt-card {
    padding: 30px;
    background-color: #ffffff;
    text-align: center;
    width: 200px;
    border-radius: 3%;
    // box-shadow: 2px 7px 10px 1px rgba(0, 0, 0, 0.51);
    box-shadow: 4px 4px 16px 2px rgba(0, 0, 0, 0.1);

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &.price-card {
        text-align: left;
        color: rgba($black-color, $alpha: 0.8);

        .price-card-title {
            font-size: 1.8rem;
            font-weight: 700;
            text-transform: uppercase;
            color: $black-color;
            // margin-top: 10px;
            margin-bottom: 20px;

            span {
                position: relative;
                z-index: 5;
            
                &::before {
                    content: '';
                    position: absolute;
                    border-top: 0.5rem solid rgba($primary-color, 0.9);
                    width: 110%;
                    bottom: 0.2rem;
                    z-index: -1;
                }
            }
        }
        
        .price-card-money {
            display: flex;

            .price-card-money-symbol {
                font-size: 1.1rem;
            }
            .price-card-money-amount {
                font-size: 3rem;
                font-weight: 700;
                line-height: 0.8;
                color: $black-color;
                margin: 0 5px;
            }

            .price-card-money-billing-type {
                font-size: 1.1rem;
                align-self: flex-end;
            }
        }
        .price-card-money-desc {
            margin-bottom: 50px;
            margin-top: 25px;
        }

        .price-card-desc {
            line-height: 1.5;
            font-weight: 400;

            margin-bottom: 50px;
        }

        .price-card-button {
            width: 100%;
            padding: 15px;
            border: none;
            border-radius: 5px;

            background-color: $black-color;
            color: #ffffff;
            font-size: 1.2rem;

            box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.35);
            transition: 0.2s;

            &:hover {
                cursor: pointer;
                opacity: 0.9;
                transition: 0.3s;

                transform: translateY(-5px);
                box-shadow: 0 11px 16px 0 rgba(0, 0, 0, 0.35);
            }
        }
    }
}

.rmt-filters {
    .filter-title {
        font-size: 0.9rem;
        opacity: 0.8;
        text-transform: uppercase;
    }

    .filter-field {
        display: flex;
        // justify-content: center;
        align-items: center;

        .filter-input {
            padding: 10px 15px;
            border: none;
            border-bottom: 2px solid $primary-color;
            outline: none;
    
            margin-top: 5px;
            font-size: 1.1rem;

            &:focus + .filter-input-icon {
                opacity: 1;
                transition: 0.2s;
            }
        }
        .filter-input-icon {
            width: 20px;
            height: 20px;
            opacity: 0;
            transform: translateX(-30px);
            transition: 0.3s;
        }
    }

    .filter-options {
        margin-top: 10px;
        display: flex;
        flex-wrap: wrap;

        &.filter-tag {
            .filter-option {
                padding: 5px;
                border: 1px solid $primary-color;
                // color: $primary-color;
                background-color: $primary-color;
                color: #ffffff;
                position: relative;
                transition: 0.3s;

                &::after {
                    content: "";
                    // width: 5px;
                    // height: 5px;
                    // padding: 4px;
                    padding: 0;
                    // margin-left: 10px;
                    // margin-right: 5px;
                    color: $black-color;

                    background-image: url("../img/icons/filters/letter-x.svg");
                    background-position: center;
                    background-size: contain;
                    background-repeat: no-repeat;

                    transition: 0.3s;
                }

                &:hover {
                    transition: 0.2s;
                    opacity: 0.8;

                    &::after {
                        padding: 4px;
                        margin-left: 10px;
                        margin-right: 5px;
                    }
                }
            }
        }

        &.filter-size {
            .filter-option {
                border: 1px solid rgba(0, 0, 0, 0.8);
                padding: 5px 8px;
                transition: 0.3s;

                &:hover,
                &.selected {
                    background-color: $primary-color;
                    color: #ffffff;
                    transition: 0.2s;
                    border: 1px solid #ffffff;
                }
                &:hover {
                    background-color: rgba($primary-color, 0.8);
                }
            }
        }

        &.filter-color {
            .filter-option {
                width: 25px;
                height: 25px;
                border-radius: 100%;
                border: 2px solid $black-color;
                padding: 3px;

                display: flex;
                justify-content: center;
                align-items: center;

                opacity: 0.3;
                transition: 0.3s;

                &:hover {
                    opacity: 0.8;
                    transition: 0.2s;
                }

                &:after {
                    width: 25px;
                    height: 25px;
                    content: "";
                    background-color: $black-color;
                    border-radius: 100%;
                }

                &.selected {
                    opacity: 1;
                }

                &.gray {
                    border-color: #cbd4c2;
                    &:hover,
                    &.selected {
                        border-color: $black-color;
                    }
                    &:after {
                        background-color: #cbd4c2;
                    }
                }

                &.white {
                    border-color: #edeec9;
                    opacity: 0.9;
                    &:hover,
                    &.selected {
                        border-color: $black-color;
                    }
                    &:after {
                        background-color: #edeec9;
                    }
                }

                &.yellow {
                    border-color: #e4ff1a;
                    &:after {
                        background-color: #e4ff1a;
                    }
                }

                &.sky-blue {
                    border-color: #1be7ff;
                    &:after {
                        background-color: #1be7ff;
                    }
                }

                &.orange {
                    border-color: #ff5714;
                    &:after {
                        background-color: #ff5714;
                    }
                }

                &.pink {
                    border-color: #9c0d38;
                    &:after {
                        background-color: #9c0d38;
                    }
                }

                &.black {
                    border-color: #223127;
                    &:after {
                        background-color: #223127;
                    }
                }

                &.brown {
                    border-color: #654236;
                    &:after {
                        background-color: #654236;
                    }
                }

                &.red {
                    border-color: #c73e1d;
                    &:after {
                        background-color: #c73e1d;
                    }
                }

                &.blue {
                    border-color: #2e86ab;
                    &:after {
                        background-color: #2e86ab;
                    }
                }

                &.green {
                    border-color: #093824;
                    &:after {
                        background-color: #093824;
                    }
                }
            }
        }

        .filter-option {
            margin-right: 10px;
            margin-bottom: 10px;

            &:hover {
                cursor: pointer;
            }
        }
    }
}

.rmt-nav-menu {
    width: 100%;
    padding: 0 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .nav-menu-logo {
        width: 150px;
        max-height: 150px;
    }

    .nav-menu-links {
        a {
            margin-left: 15px;
            text-decoration: none;
            color: $primary-color;
            transition: 0.3s;
            position: relative;

            padding: 20px 0;

            ul {
                // display: none;
                opacity: 0;
                transition: 0.3s;

                width: 150px;
                position: absolute;
                left: 0;
                list-style-type: none;

                margin: 0;
                padding: 20px;
                top: 3rem;

                background-color: #ffffff;
                box-shadow: 4px 4px 16px 2px rgba(0, 0, 0, 0.1);                
                border-radius: 15px;

                li {
                    padding: 10px 0;
                    transition: 0.3s;

                    &:hover {
                        opacity: 0.8;
                        transition: 0.2s;
                    }
                }
            }

            &:hover {
                opacity: 0.9;
                transition: 0.2s;

                ul {
                    // display: block;
                    opacity: 1;
                    transition: 0.2s;
                }
            }
        }

        .nav-menu-signup {
            border: 2px solid $primary-color;
            padding: 10px 15px;
            border-radius: 25px;

            &:hover {
                background-color: $primary-color;
                color: #ffffff;
            }
        }
    }
}

.rmt-hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 10%;

    .hero-desc {
        // display: flex;
        // flex-direction: column;

        h1 {
            font-size: 4rem;

            margin-bottom: 0.33rem;
        }
        .hero-sub {
            color: rgba($black-color, 0.7);
        }

        button {
            display: block;

            margin-top: 30px;
            padding: 20px 25px;
            border: none;
            border-radius: 15px;

            background-color: $primary-color;
            color: #ffffff;
            font-size: 1.2rem;
            transition: 0.2s;

            &:hover {
                opacity: 0.9;
                cursor: pointer;
                transition: 0.3s;
            }
        }
    }

    .hero-image {
        width: 35vw;
    }
}

.rmt-header {
    width: 100%;
    padding: 15px 10vw;
    // background-color: #ffffff;

    display: flex;
    justify-content: space-between;
    align-items: center;

    .header-logo {
        width: 100px;
        max-height: 150px;
    }

    .header-searchbar {
        display: flex;
        align-items: center;
        position: relative;

        input {
            width: 30vw;
            border: 1px solid #dcdcdc;
            border-radius: 25px;
            padding: 10px 25px;
            transition: 0.3s;

            &:hover,
            &:focus {
                outline: none;
                border: 1px solid #c0c0c0;
                transition: 0.2s;
            }
        }

        button {
            background-color: $primary-color;
            border: none;
            padding: 5px 15px;
            border-radius: 25px;
            transition: 0.3s;
            position: absolute;
            right: 3px;

            img {
                width: 20px;
            }

            &:hover {
                opacity: 0.9;
                transition: 0.2s;
                cursor: pointer;
            }

            &:focus {
                outline: none;
            }
        }
    }

    .header-login {
        display: flex;
        align-items: center;

        .header-avatar {
            width: 40px;
            height: 40px;
            margin-right: 15px;
        }
    }
}

.rmt-testimony {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 20px;
    border-radius: 3%;
    background-color: #ffffff;
    box-shadow: 0px 7px 10px 1px rgba(0, 0, 0, 0.51);

    width: 300px;

    .testimony-text {
        text-align: center;
        font-size: 1.7rem;
    }

    .testimony-profile-picture {
        width: 60px;
        height: 60px;
        border-radius: 100%;

        margin-top: 25px;
        margin-bottom: 15px;
    }
    .testimony-name {
    }
    .testimony-role {
        font-weight: 300;
        opacity: 0.9;
    }

    .testimony-company {
        margin-top: 15px;
        width: 80px;
        max-height: 100px;
    }
}

.rmt-sidebar {
    padding: 0;
    box-sizing: border-box;
    width: 20vw;

    .sidebar-header {
        padding: 10px 5px;
        padding-bottom: 0;
        box-sizing: border-box;
        width: 100%;
        color: #808080;
        // color: #D3D3D3;
    }

    .sidebar-navitem {
        color: $black-color;
        width: 100%;
        margin: 0;
        padding: 15px;
        box-sizing: border-box;

        display: flex;
        justify-content: space-between;
        align-items: center;
        transition: 0.3s;

        position: relative;

        &:hover {
            background-color: rgba(#dcdcdc, 0.9);
            transition: 0.3s;
            cursor: pointer;
        }

        &.active {
            background-color: rgba(#ffffff, 0.9);
            opacity: 1.1;
            color: $primary-color;

            &::before {
                content: "";
                width: 5px;
                height: 50px;
                background-color: $primary-color;
                position: absolute;
                left: 0px;
            }
        }

        .sidebar-link {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .sidebar-icon {
                width: 20px;
                height: 20px;
                margin-right: 10px;
            }
        }
    }

    .sidebar-subnav {
        margin: 0;
        padding: 0;

        .sidebar-navitem {
            padding: 10px 0;
            padding-left: 45px;
            font-size: 0.9rem;

            &.active {
                &::before {
                    height: 38px;
                }
            }
        }
    }
}

.rmt-breadcrumbs {
    a:link,
    a:visited {
        color: $primary-color;
    }
    a:hover {
        opacity: 0.9;
    }

    a.active {
        color: $black-color;
        font-size: 1.1rem;
        text-decoration: none;
    }
}

.rmt-product-card {
    padding: 15px 30px 0 30px;
    background-color: #ffffff;
    text-align: center;
    width: 230px;
    border-radius: 3%;
    box-shadow: 2px 7px 10px 1px rgba(0, 0, 0, 0.51);

    .product-card-header {
        position: relative;
        display: flex;
        justify-content: center;

        &:hover {
            .product-card-image {
                transform: translateY(-10px);
                transition: 0.5s;
            }
            .product-card-shadow {
                transform: scaleX(150%);
                transition: 0.5s;
            }
        }

        .product-card-image {
            z-index: 15;
            height: 150px;
            width: 150px;
            transition: 0.5s;
        }
        .product-card-shadow {
            z-index: 5;
            transition: 0.5s;
            max-height: 150px;
            width: 125px;
            position: absolute;
            transform: translateY(100px);
        }
    }

    .product-card-body {
        margin-bottom: 15px;

        .product-card-title {
            text-transform: uppercase;
            margin-bottom: 1em;
        }
        .product-card-desc {
            font-size: 0.8rem;
            color: $black-color;
        }
        .product-card-price {
            font-size: 1.3rem;
            font-weight: 700;
            color: $primary-color;
        }
    }

    .product-card-button {
        width: 100%;
        padding: 15px;
        margin-bottom: 15px;
        border-radius: 5%;

        font-size: 0.7rem;
        text-transform: uppercase;

        border: none;
        color: #ffffff;
        background-color: $primary-color;
        transition: 0.2s;

        &:hover {
            cursor: pointer;
            opacity: 0.9;
            transition: 0.4s;
        }
    }
}
